<header>
{{> nav }}
</header>
<div class="login-container">
<form action="/login" method="POST">
    <input type="text" name="email" placeholder="Whats ur email">
    <input type="password" name="password" class="input" placeholder="What is your password?">
    <button type="submit" class="submit-button">+</button>
</form>
</div>