<main>

  <article class="dino">
  <h1> {{name}}</h1>
  <div class="info">
    {{description}}
  </div>
  <figure>
    <img src="" alt="">
    <figcaption>{{ name }}</figcaption>

  </figure>
  </article>
  {{#button "primary" "submit"}} <p>You may press me</p> {{/button}}
  <hr>
  {{#hyperlink "/dinosaurs" "back to rffdinosaurs"}} <p>Back to all dinosaursssss</p> {{/hyperlink}}
  <a href="/dinosaurs">Back to all dinosaurs</a>
</main>
{{> footer}}