<div class="to-do">
            <input class="text" type="text" id="textInput" name="textInput" placeholder="What is your task?">
   <button><img class="edit edit-done" src="/img/Edit Cover.svg" alt=""></button> 
 <button><img class="bin bin-done" src="/img/Bin Delete Recycle.svg" alt=""></button> 


</div> 