<nav>
    <div class="header-wrap">
      <div class="left-header">
        <img src="/img/logo 2.png" alt="">
        <h1>Just Do IT</h1>
      </div>
      {{#if jwtAuth}}
                    <a href="/logout"><button>Logout</button></a>
                {{else}}
                    <a href="/login"><button>Login</button></a>
                    <a href="/register"><button>Register</button></a>
      {{/if}}
    </div>
  </nav>