<div class="side-container">
  <div class="side-bar">
      {{#hyperlink "/categories" "Categories" }}
 
    {{/hyperlink}}
  {{#hyperlink "/" "Default" }}
 
    {{/hyperlink}}
    {{#hyperlink "/household" "Household" }}
 
    {{/hyperlink}}

  </div>
</div>