* {
  font-family: "Ubuntu Mono", monospace;
}
h4 {
  color: black;
}
img {
  width: 2rem;
  height: 2rem;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 1rem;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left-header img {
  width: 2rem;
  height: 2rem;
}
.dino {
  color: black;
}
/* MAIN */
main {
  display: flex;
  color: rgba(255, 255, 255, 0.639);
}
/* SIDEBAR */
.side-bar {
  display: flex;
  flex-direction: column;
}
.side-bar h2 {
  margin-bottom: 2rem;
}
.side-bar button {
  text-align: left;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.599);
}
.side-bar button p {
  padding: 0.4rem 0 0.4rem 0;
}
.side-bar button p:hover {
  background-color: rgba(102, 0, 255, 0.084);
  color: rgb(89, 0, 255);
}
.side-bar button a:hover {
  background-color: rgba(102, 0, 255, 0.084);
  color: rgb(89, 0, 255);
}
.side-container {
  padding-top: 2rem;
  width: 20vw;
  height: 95vh;
  background-color: rgb(32, 32, 32);
  border: solid 1px rgb(124, 124, 137);
}

/* MAIN PAGE */
.main-container {
  padding-top: 2rem;
  background-color: rgb(20, 19, 19);
  border: solid 1px rgb(124, 124, 137);
  width: 100%;
}
.main-page {
  margin: 1rem;
  padding-left: 4rem;
}

.to-do {
  width: 90%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.to-do button {
  border: none; /* Verwijder de standaard knoprand */

  margin: 0; /* Verwijder de standaard knopmarges */
  padding: 0;
  cursor: pointer; /* Stel een cursor in die aangeeft dat de knop klikbaar is */
}
.test {
  display: flex;
}
.group {
  display: flex;
  width: 90%;
}
.what-to-do {
  display: flex;
}
.to-do button:focus {
  outline: none;
}
.to-do input {
  width: 95%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.what-is-task {
  padding-bottom: 3rem;
}

.submit-button {
  background-color: rgb(76, 0, 255);
  border: none;
  height: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 0.5rem;
  color: white;
}
.no-round input {
  border-radius: 0;
}
.tasks img,
.tasks-done img,
.to-do img {
  min-width: 5%;
  height: 100%;
  height: 3rem;
  padding: 0.2rem;
}
.bin {
  background-color: rgba(255, 54, 54, 0.733);
  border: none;
  display: flex;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.bin button {
  border: none;
  background-color: transparent;
}
.edit {
  background-color: rgb(76, 0, 255);
  border: none;
}

.edit button {
  border: none;
  background-color: transparent;
}
.tasks {
  padding-bottom: 3rem;
}
.main-page h2 {
  margin-bottom: 1rem;
}
.check {
  background-color: green;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
}
.check button {
  border: none;
  background-color: transparent;
}
.green {
  color: green;
}
.red {
  color: red;
}
.primary {
  color: red;
}

/* login page */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: rgb(20, 19, 19);
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: rgb(20, 19, 19);
}
